<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240779381909-md4642834toofc0pmln19j4j4a8toggm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240779381909-md4642834toofc0pmln19j4j4a8toggm</string>
	<key>API_KEY</key>
	<string>AIzaSyDtsEqEA5dGbMatZa8_apBBSo-eDLtS9Ck</string>
	<key>GCM_SENDER_ID</key>
	<string>240779381909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.vicode.elsie</string>
	<key>PROJECT_ID</key>
	<string>elsie-82d8e</string>
	<key>STORAGE_BUCKET</key>
	<string>elsie-82d8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240779381909:ios:8671f36a4aaa3877851f9c</string>
</dict>
</plist>